.card {
  display: flex;
  flex-wrap: wrap;
  &__element {
    width: 450px;
    margin-bottom: 30px;
    margin-right: 0;
    border: 1px solid #eeeeee;
    border-top: none;
    margin-right: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__element a:visited{
    color: $text-color-main;
  }
  &__element:hover,
  &__element:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  &__element:hover .overlay__text,
  &__element:focus .overlay__text {
    transform: translateY(0);
  }  
  &__description {
    padding: 20px 24px;
    background-color: $bg-color-main;
    
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 2;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.88;
    color: $text-color-secondary;
  }
  // @media screen and (max-width:480px) {
  //   // max-width: 450px;
  //     margin-right: 0;
  // }
  
  @media screen and (max-width:1199px) {
    &__element {
      max-width: 354px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    &__element:nth-child(2n) {
      margin-right: 0;
    }
    &__element:nth-last-child(-n + 2) {
      margin-right: 0;
    }
  }
  @media screen and (min-width:1200px) {
    &__element {
      width: 370px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    &__element:nth-child(3n) {
      margin-right: 0;
    }
    &__element:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}