.team {
  background-color: $bg-color-secondary;
  padding: 60px 0;
  &__title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__card {
    margin: 15px;
    border-radius: 0 0 4px 4px;
    background-color: $bg-color-main;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__description {
    padding: 30px 0;
    text-align: center;
  }
  &__member {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  &__duty {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: $text-color-secondary;
    margin-bottom: 16px;
  }
  @media screen and (min-width:480px){
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      margin: -15px;
    }
    &__card {
      margin: 15px;
    }
  }

  @media screen and (min-width:768px){
    &__card {
      width: 354px;
    }
  }

  @media screen and (min-width:1200px){
    padding: 94px 0;
    &__title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
    &__list {
      flex-direction: row;
    }
    &__card {
    width: 270px;
    margin: 15px;
    }
    &__card:last-child {
    margin-right: 0;
    }
  }
}

.soclist {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    margin-right: 10px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link:focus,
  &__link:hover {
    background-color: $accent-color;
  }
  &__link:focus &__icon,
  &__link:hover &__icon {
    fill: $text-color-white;
  }
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: $animation-bg;
  }
  &__icon {
    fill: $icon-color;
    transition: $animation-fill;
  }
}
