$bg-color-main: #ffffff;
$bg-color-secondary: #f5f4fa;
$bg-color-dark: #2f303a;

$text-color-main: #212121;
$text-color-secondary: #757575;
$text-color-white: #ffffff;
$text-color-black: #000000;

$accent-color:#2196f3;
$hover-button-color: #188CE8;

$icon-color: #afb1b8;

$animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


